
#navbar {
    margin-left: 16%;
    margin-right: 16%;
}

.card-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title {
    font-size: 5em;
}

h5 {
    font-weight: bold;
}

#carousel {
    background-color: rgb(235, 235, 235);
}

#footer {
    height: 3rem;
}
